{%extends "base.html"%}
{% block content %}

{%for art in object_list%}
 <br>{{art.matnr}}
<br>

{%endfor%}



<br>Alle Bilder
<table>
<theader>
      <tr>
          <th>matnr</th>
          <th>maktx_1</th>
          <th>maktx_2</th>
          <th>lifnr</th>
          <th>bild</th>
      </tr>

  </theader>
    <tbody>
    {%for art in object_list%}
        <tr>
            <td>{{art.matnr}}</td>
            <td>{{art.maktx_1}}</td>
            <td>{{art.maktx_2}}</td>
            <td>{{art.lifnr}}</td>
            <td>{{art.aritkelbild}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table>

{% endblock %}